/lib/dynamodb_local*/**

/src/.tscache
/dist
node_modules
typings
.tscache
.idea

/.idea/workspace.xml
workspace.xml
/temp/
/src/public/css/main.css

.DS_Store
/publish/
/src/public/bower_components/

/spike/dist
/app/dist

.env
app/public/css
app/public/dist
